
  .file-upload {
    background-color: #ffffff;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .file-upload-btn:hover {
    width: 100%;
    margin: 0;
    color: #fff;
    background: rgb(79, 233, 151);
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    align-content: center;
    text-align: center;
    height:340px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px dashed rgb(79, 83, 81);
    position: relative;
    background-color: rgb(230, 230, 230);
  }
  div {
    border-radius: 5px;
    background-color: #dbdbdb;
    padding: 20px;
  }
  
  
  
  
  
  
  
  
 
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  .upload-image {
    margin: auto;
    width: 100%;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
  }
  
  .upload-image:hover {
    background: rgb(241, 92, 72);
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }