
  
  <div class="file-upload">
      <div>
  <button type="button"class="file-upload-btn" (click)="file.click($event)">Add Image</button>
    <span style="color:red;" *ngIf="message">{{message}}</span>
      <input style=display:none #file type="file" accept='image/*' (change)="preview(file.files)" />
      <div class="image-upload-wrap">
        
        <img [src]="imgURL" height="330" *ngIf="imgURL">
      </div>
  <button type="button" class="upload-image" (click)="onUpload">Upload</button>
</div>
</div>


<router-outlet></router-outlet>
